.postsSec{
    flex:9;
}


.headingPost{
    font-family: 'Lora', serif;
    font-size: 50px;
    color: #444;
    margin: 50px 75px;
    border-bottom: 4px solid #444;
    line-height: 80px;
    

}


.posts{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 50px 20px;
}


.noPostMsg{
    padding: 100px;
    /* background-color: aqua; */
    text-align: center;
    font-size: 25px;
    color: #444;
    font-family: 'Varala Round', sans-serif;
}